/* Google fonts */
/* Poppins */
/* Roboto */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Roboto:wght@100;300;400;500&display=swap');

* {
	font-family: 'Poppins', sans-serif;
}

.roboto {
	font-family: 'Roboto', sans-serif;
}
